{{#each this}}
  <section class='comment' data-comment_id={{id}}>
    <div class='meta'>
      {{user.username}}
      on
      {{created_at}}
      {{#if isAuthoredByUser}}
        <button class='edit-comment-btn' data-comment_id={{id}}>edit comment</button>
        <button class='delete-comment-btn' data-comment_id={{id}}>delete comment</button>

      {{/if}}
    </div>
    <div class='text' data-comment_id={{id}}>
      {{comment_text}}
    </div>
  </section>
{{/each}}