<article class='post'>
  <div class='header'>
    <a href='/post/{{id}}'>
      <h2 class='title'>
        {{title}}
      </h2>
    </a>
    <div class='meta'>
      by
      {{user.username}}
      on
      {{formatDate created_at}}
    </div>
  </div>
  <div class='content'>
    {{{addLineBreaks content}}}
  </div>
  <div class='comment-count'>
    <a href='/post/{{id}}'>
      {{comments.length}}
      {{formatPlural 'comment' comments.length}}
    </a>
  </div>
</article>